<!DOCTYPE html>
<html>
<head>
    <title> Crowd Course </title>
</head>
<body>
login:
<form method="post" action="/users/login">
    <input type="text" placeholder="username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="submit" id="submit"/>
</form>
<br>
sign up:
<form method="post" action="/users/signup">
    <input type="text" placeholder="username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="submit" id="submit"/>
</form>
</body>
</html>
