<!DOCTYPE html>
<html>
<head>
  <title> Crowd Course </title>
</head>
<body>
  <form method="post" action="/users/login">
    <input type="text" placeholder="username" id="username" />
    <input type="password" placeholder="password" id="password" />
    <input type="submit" id="submit" />
  </form>
</body>
</html>
